p { border: 1px solid black;
margin-top: 80px;}
.especial > strong {
    margin-top: 3800px; /* será ignorada */
    margin-bottom: 5400px; /* será ignorada */
    margin-left: 150px; /*será aplicada*/
    margin-right: 280px; /*será aplicada*/
}